.medium-zoom-image {
    border-radius: 8px;
    box-shadow: 0px 5px 40px 1px rgba(0, 0, 0, .3);
    border: 1px solid #e4e4e4;
    zoom: 66%
}

#footer {
    background: rgba(255, 255, 255, .15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255, 255, 255, .15)
}

#footer #footer-wrap {
    color: var(--font-color);
}

#footer #footer-wrap a {
    color: var(--font-color);
}